@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;
    z-index: 10; /* arrows поверх и внутри слайдера. */

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 0; /* убрал родные стрелки 20px */
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.promo-slider .slick-prev:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: -25px;
    background: url(../img/l-arrow.png) no-repeat;
    opacity: 0.6; /* добавил свои arrows end */
}

.promo-slider .slick-next:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: -25px;
    background: url(../img/slide-arrow.png) no-repeat;
    opacity: 0.6; /* добавил свои arrows end */
}

@media screen and (max-width: 660px) {
    .promo-slider .slick-prev:before,
    .promo-slider .slick-next:before {
        display: none;
    }
}

/* my arrows start */

.slick-prev:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: -25px;
    background: url(../img/l-arrow.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

.slick-next:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: -25px;
    background: url(../img/slide-arrow.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

/* my arrows end */


/* my arrows start */

.teachers-slider .slick-prev:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: 25px;
    background: url(../img/t-left-ar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

.teachers-slider .slick-next:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: 25px;
    background: url(../img/t-right-ar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

/* my arrows end */

.teachers-slider-descktop .slick-prev:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: 25px;
    background: url(../img/t-left-ar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

.teachers-slider-descktop .slick-next:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 52px;
    margin-top: 25px;
    background: url(../img/t-right-ar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

.main-gallery-kids-slider .slick-prev:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 47px;
    margin-top: -15px;
    background: url(../img/kids/lftar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

.main-gallery-kids-slider .slick-next:before
{
    display: block; /* добавил свои arrows start */
    width: 32px;
    height: 47px;
    margin-top: -15px;
    background: url(../img/kids/rhtar.png) no-repeat;
    opacity: 1; /* добавил свои arrows end */
}

/* my arrows end */




.slick-prev
{
    left: -15px; /* левый arrow (-25px) */
}

.descktop-slider .slick-prev
{
   left: -40px; /* левый arrow (-25px) */
}

.teachers-slider .slick-prev
{
    left: 0; /* левый arrow (-25px) */
}

.teachers-slider-descktop .slick-prev{
    left: 25px; /* левый arrow (-25px) */
}

.promo-slider .slick-prev
{
    left: 10px; /* левый arrow (-25px) */
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -3px; /* правый arrow (-25px) */
}

.descktop-slider .slick-next
{
   right: -25px; /* правый arrow (-25px) */
}

.promo-slider .slick-next
{
    right: 21px; /* правый arrow (-25px) */
}

.teachers-slider .slick-next
{
    right: 8px; /* правый arrow (-25px) */
}

.teachers-slider-descktop .slick-next
{
    right: 33px; /* левый arrow (-25px) */
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}

 .promo-slider .my-dots
{
    bottom: 5px;
}

.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}


/* my dots */

.my-dots {
  position: absolute;
  bottom: -40px; /* положение */
  left: 10px;
  right: 10px;
  display: block;
  width: 80%;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.my-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 9px 0 0;
  padding: 0;
  cursor: pointer;
}

.my-dots li:first-child {
  margin-left: 12px;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 12px;
  height: 12px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  /*border-radius: 50px; */
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
  background: #af7535; /* наведение */
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  content: "";
  text-align: center;
  background-color: #ffffff; /* обычное состояние */
  background-size: 100%;
  background-position: center;
  border: 1px solid #af7535;
  /*border-radius: 50px; */
  opacity: 1;
}

.my-dots li.slick-active button:before {
  opacity: 1;
  background: #af7535; /* активная */
}

/* my dots */
